.navLogo{
color:blue;
font-family:'pacifico';
font-size: 4 rem;
}

.nav-link{
    color:rgb(81, 68, 184) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}