:root {
  --borderWidth: 7px;
  --height: 24px;
  --width: 12px;
  --borderColor: #78b13f;
}

body {
  padding: 20px;
  text-align: center;
}

/* Nav Bar start here */
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
}

.navLogo {
  color: hsl(241, 46%, 54%);
  font-family: 'pacifico';
  font-size: 20px;
  border: 0;
  margin: 0;
}

.nav-link {
  color: hsl(241, 46%, 54%) !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Cards strat here */
#cardHeader {

  text-transform: capitalize;
}

.collapseTask1Span {
  font-weight: bold;
  font-style: italic;
}

.card-body {
  text-align: left;
}


/* button */
html,
body {
  height: 100%;
}


.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: linear-gradient(90deg, #7089c7 0%, rgb(148, 147, 222) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(133, 185, 180, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  padding: 0px;
}